* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sign_in {
    width: 431px;
    height: 359px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    border: 1px solid #D3D3D3;
    border-radius: 20px;
}

.login_text_name {
    position: absolute;
    top: 38px;
    left: 165px;
}

.login {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 140px;
    left: 64px;
    right: 66px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.login:focus {
    border-bottom: 2px solid dodgerblue;
}

.password {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 192px;
    left: 64px;
    right: 66px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.password:focus {
    border-bottom: 2px solid dodgerblue;
}

.button_login {
    position: absolute;
    width: 300px;
    height: 37px;
    left: 64px;
    bottom: 73px;
    background: #EA4335;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
}

.button_login:hover {
    background-color: #D2291BFF
}

#button_no_account {
    position: absolute;
    top: 307px;
    left: 107px;
    color: #0904F9;
    background: none;
    border: none;
}


.form {
    background-color: #0904F9;
}

.sign_up {
    width: 431px;
    height: 645px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
    border: 1px solid #D3D3D3;
    border-radius: 20px;
}

.register_text_name {
    position: absolute;
    top: 69px;
    left: 176px;
}

.email {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 134px;
    left: 73px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.email:focus {
    border-bottom: 2px solid dodgerblue;
}

.register_login {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 186px;
    left: 73px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.register_login:focus {
    border-bottom: 2px solid dodgerblue;
}

.name {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 238px;
    left: 73px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.name:focus {
    border-bottom: 2px solid dodgerblue;
}

.lastName {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 290px;
    left: 73px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.lastName:focus {
    border-bottom: 2px solid dodgerblue;
}

.phone {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 342px;
    left: 73px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.phone:focus {
    border-bottom: 2px solid dodgerblue;
}

.registerPassword {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 394px;
    left: 73px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.registerPassword:focus {
    border-bottom: 2px solid dodgerblue;
}

.repeatPassword {
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    top: 446px;
    left: 73px;
    width: 301px;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.repeatPassword:focus {
    border-bottom: 2px solid dodgerblue;
}

#haveAnAccount {
    position: absolute;
    top: 600px;
    left: 135px;
    color: #0904F9;
    background: none;
    border: none;
}

#haveAnAccount:hover {
    text-decoration: underline;
}